code {
  color: $color-code-inline;
  background-color: $color-code-inline-background;
  font-family: $monospace;
  font-size: .9rem;
  font-weight: 600;
  border-radius: .1875rem;
  padding: .2em .4em;
  margin: 0 .1rem;
}

pre {
  background-color: $color-code-background;
  padding: 1rem 1.25rem;
  overflow-x: auto;
  border: solid .0625rem $color-border-light;
  border-radius: 0.75rem;
  margin-top: 32px;
  margin-bottom: 32px;

  > code {
    color: $color-code;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
}
