$color-border-light: rgba(255, 255, 255, 0.5) !default;

$color-code-inline: #455a64 !default;
$color-code-inline-background: #f5f5f5 !default;
$color-code: #A9B7C6 !default;
$color-code-background: #2B2B2B !default;

$color-code-comment: #929292 !default;
$color-code-comment-special: #7D7D7D !default;
$color-code-decorator: #BBB529 !default;
$color-code-diff-inserted: #324932 !default;
$color-code-diff-deleted: #493131 !default;
$color-code-generic-error: #AA0000 !default;
$color-code-generic-heading: #999999 !default;
$color-code-generic-output: #888888 !default;
$color-code-generic-prompt: #555555 !default;
$color-code-generic-subheading: #AAAAAA !default;
$color-code-lexer-error: #D4436F !default;
$color-code-lexer-error-background: #1e0010 !default;
$color-code-field: #9CCC65 !default;
$color-code-function: #7488FF !default;
$color-code-keyword: #4DD0E1 !default;
$color-code-label: #CB7C7E !default;
$color-code-number: #D47964 !default;
$color-code-string: #FF4D8E !default;
$color-code-type: #EA80FC !default;

$monospace: SFMono-Regular, Menlo, 'Source Code Pro', 'Roboto Mono', Monaco, Consolas, 'Liberation Mono', monospace !default;
